---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Disclaimer | MobilePriceBD">
  <main class="p-10 min-h-screen w-full md:w-[70%] text-justify">
    <span class="text-xs text-center italic">
      <center>
        *Some prices may not be up to date according to today’s latest price.
        Additional VAT may be applicable.
      </center>
    </span>
    <h2 class="text-3xl my-5 font-semibold">
      <center>Disclaimer about the information on our site</center>
    </h2>
    <h3 class="text-2xl my-5 font-semibold">Price</h3>
    <p class="mb-5">
      <strong>Official</strong>: MobilePriceBD is a reliable source for
      revealing the official prices of mobile phones and gadgets in Bangladesh
      once they are officially available. It's important to note that the
      official product prices may have an additional VAT (Value Added Tax). The
      rate of VAT varies based on the manufacturing process, ranging from
      approximately 2% to 7.5%.
    </p>
    <p class="mb-5">
      <strong>Unofficial</strong>: The pricing of unofficial devices is
      meticulously gathered from renowned and reliable retail establishments in
      Bangladesh. These shops stand out for offering their own service and parts
      replacement warranties, enhancing the consumer experience. Notably, the
      cost of unofficial phones exhibits slight discrepancies across different
      shops. Our effort is to present the lowest price observed among our
      carefully selected shops, ensuring users have access to the most
      competitive options in the market.
    </p>
    <p class="mb-5">
      <strong>International</strong>: The pricing of international phones is
      meticulously sourced from official brand channels like brand websites,
      Amazon, or Flipkart, immediately upon their release. Subsequently, these
      prices are swiftly converted to Bangladeshi Taka on the same day, offering
      consumers in Bangladesh an estimation of the device cost in their
      currency. It's crucial to acknowledge the dynamic nature of currency
      rates, which can fluctuate. Therefore, the price in BDT might vary on the
      following day or within a few days. Additionally, it's noteworthy that the
      international variant and the Bangladesh variant of a product may exhibit
      distinct technical specifications, contributing to potential differences
      in features or functionalities.
    </p>
    <p>
      We acknowledge the ever-changing landscape of device prices and
      availability. Our commitment is to promptly update information upon
      receipt; however, we cannot guarantee real-time accuracy. Prices and
      statuses of devices on our site may vary, and discrepancies are possible.
      To ensure precision, we recommend double-checking prices from diverse
      sources like retail shops, brand showrooms, official websites, customer
      care services, or verified social media pages. It's prudent to verify the
      current status and price through these channels before finalizing any
      purchase decision.
    </p>
    <h3 class="text-3xl my-5 font-semibold">Specifications</h3>
    <p>
      In our pursuit of providing comprehensive mobile information, it's
      essential to emphasize that we cannot ensure the absolute accuracy of
      specifications. While we diligently gather specs from official brand
      websites and reliable sources, the potential for errors exists in manual
      data entry or other unforeseen circumstances involving both parties.
      General knowledge becomes pivotal in certain terms; for instance, in the
      "made in" section, "Bangladesh" signifies the official version's origin.
      Conversely, unofficial models are consistently imported, adding a layer of
      complexity to the mobile landscape.
    </p>
    <h3 class="text-3xl my-5 font-semibold">Rating &amp; Reviews</h3>
    <p>
      The evaluation of individual product ratings and reviews is a multifaceted
      process, influenced by the writer's research, knowledge, understanding,
      opinion, and personal experience. Primarily anchored in a comprehensive
      grasp of specifications, market trends, pricing, and user feedback, recent
      reviews also incorporate insights from diverse tech experts through
      hands-on online assessments. It's crucial to note that older reviews may
      have relied solely on a general understanding of specifications,
      potentially leading to variations in real-life user experiences due to
      factors such as hardware and software quality. The uniqueness of a user's
      interaction with a device further contributes to diverse perspectives, as
      the service of a phone is intricately tied to individual usage patterns.
      Ratings and reviews serve as valuable indicators, offering general
      insights into a device, but they should not be regarded as absolute.
      Additionally, ratings and reviews for discontinued gadgets are considered
      expired and are no longer updated.
    </p>

    <h3 class="text-3xl my-5 font-semibold">Fair Information Policy</h3>
    <p>
      As a cornerstone of our fair information policy, we extend an open
      invitation to any brand or business to request updates to the information
      we provide about them. Should there be any delays or instances of
      misinformation on our part, we are dedicated to promptly addressing these
      concerns. Brands and businesses have the opportunity to notify us at any
      time, and upon receiving such requests, we commit to verifying the
      accuracy of the information and updating it as swiftly as possible. This
      proactive approach reflects our commitment to transparency, accuracy, and
      accountability in the dissemination of information.
    </p>
    <p class="mt-2">
      We can be contacted via our Email: <a
        href="mailto:mdp020479@gmail.com"
        class="text-green-500 hover:underline">mdp020479@gmail.com</a
      >.
    </p>
  </main>
</Layout>
<style>
  p {
    line-height: 2.5;
  }
</style>
